.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1199px) {
    .container {
        width: 970px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 750px;
    }
}

@media screen and (max-width: 816px) {
    .container {
        width: 100%;
    }
}


.col_1 {
    width: 60px;
}

.col_2 {
    width: 140px;
}

.col_3 {
    width: 220px;
}

.col_4 {
    width: 300px;
}

.col_5 {
    width: 380px;
}

.col_6 {
    width: 460px;
}

.col_7 {
    width: 540px;
}

.col_8 {
    width: 620px;
}

.col_9 {
    width: 700px;
}

.col_10 {
    width: 780px;
}

.col_11 {
    width: 860px;
}

.col_12 {
    width: 940px;
}

.col_13 {
    width: 1020px;
}

.col_14 {
    width: 1100px;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12,
.col_13,
.col_14 {
    margin: 0 20px;
}

.pad_1 {
    margin-left: 80px;
}

.pad_2 {
    margin-left: 160px;
}

.pad_3 {
    margin-left: 240px;
}

.pad_4 {
    margin-left: 320px;
}

.pad_5 {
    margin-left: 400px;
}

.pad_6 {
    margin-left: 480px;
}

.pad_7 {
    margin-left: 560px;
}

.pad_8 {
    margin-left: 640px;
}

.pad_9 {
    margin-left: 720px;
}

.pad_10 {
    margin-left: 800px;
}

.pad_11 {
    margin-left: 880px;
}

.pad_12 {
    margin-left: 960px;
}

.pad_13 {
    margin-left: 1040px;
}

.row {
    margin-left: -20px;
    margin-right: -20px;
}

