* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.style-col {
    background: #ffe5e5;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.grid-holder_image-holder {
    background-color: #1275b9;
    border: 1px solid #1275b9;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-holder_image-holder:hover {
    background-color: #fff;
}

.grid-holder_image-holder:hover svg path {
    fill: #1275b9;
}


.grid-holder__item-badge {
    position: absolute;
    background: aqua;
    padding: 5px;
    right: 10px;
    top: 10px;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.17);
    z-index: 2;
    background: #419683;
}

.sss {
    position: relative;
}

.colored {
    background: #000;
    height: 200px;
    position: sticky;
    top: 40px;
}


body {
    padding-top: 300px;
}

.section {
    background: #d31c1c;
    padding-bottom: 50px;
}

.section.v2 {
    height: 220px;
    background: #48ee35;
    padding-top: 150px;
}


.flex-box {
    display: flex;
    border: 1px solid #000;
    height: 200px;
}

.flex-box__item {
    width: 150px;
    height: 40px;
    background: #000;
    margin: 0 10px;
}